.gallery-image {
  width: 360px;
  height: 240px;
  transition: transform 250ms ease;
}

.gallery-image:hover {
  transform: scale(1.1);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
}
